.accordion-section {
    display: flex;
    flex-direction: column;
    /* width: 45%; */
    padding: 10px 20px;
    border:1px solid #dadada;
    margin: 10px;
  }
  
  .accordion-title {
    background-color: white;
    color: #444;
    cursor: pointer;
    display: flex;
    position: relative;
    /* align-items: center; */
    border: none;
    padding: 0;
    outline: none;
    transition: background-color 0.6s ease;
  }

  /* .accordion-title:hover,
  .active {
    background-color: #ccc;
  } */
  .accordion-title:focus{
    outline: none;
  }
  
  .accordion-title:after {
    content: '\002B';
    color: #777;
    position: absolute;
    /* font-weight: bold; */
    /* float: right; */
    right: -5px;
    font-size: 2rem;
  }
  
  .active:after {
    content: "\2212";
  }
  /* .accordion-icon {
    margin-left: auto;
    transition: transform 0.6s ease;
  }
  
  .rotate {
    transform: rotate(90deg);
  } */
  
  .accordion-content {
    background-color: white;
    overflow: hidden;
    color: #7c7c7c;
    transition: max-height 0.6s ease;
  }
  
  .accordion-text {
    font-weight: 400;
    font-size: 14px;
    /* padding: 18px; */
  }
  