.mainSection
{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../../images/mainbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 12.5rem;
    padding-left: 9rem;
}

p {
    font-size: 1.2rem;
    margin-top: 15px;
}

h1{
    font-size: 3rem;
}

@media (max-width:767px)
{
    .mainSection{
        padding: 0 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

// @media (max-width:575px)
// {
//     .mainSection{
//         padding-top: 8.5rem;
//     }
// }

@media (max-width:480px)
{
    // .mainSection{
    //     padding: 6.5rem 4rem;
    //     text-align: center;
    // }

    .mainSection h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 320px)
{
    // .mainSection {
    //     padding: 6.5rem 2rem;
    // }

    .mainSection h1 {
        font-size: 2rem;
    }
}
    



