.subscribeSection
{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../../images/mockup2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.5rem 0;
    text-align: center;
}

.heading
{
    font-size: 3rem;
}

.subscribeButton{
    border-radius: 5px;
    border: none;
    background-color: #c81f40;
    border: 1px solid #c81f40;
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    margin-top: 3rem;
}
.subscribeButton:hover{
    border: 1px solid white;
    background-color: transparent;
}

@media (max-width:1199px)
{
    .heading
    {
        font-size: 2.8rem;
    }

    .subscribeButton
    {
        padding: 0.8rem 2rem;
    }
}

@media (max-width:991px)
{
    .heading
    {
        font-size: 2.5rem;
    }

    .subscribeButton
    {
        padding: 0.6rem 2rem;
    }
}

@media (max-width:991px)
{
    .subscribeSection {
        padding: 6rem 12rem;
    }
}

@media (max-width:575px)
{
    .subscribeSection {
        padding: 4rem 7rem;
    }
}

@media (max-width:480px)
{
    .subscribeSection {
        padding: 4rem;
    }
}