.slick-slider {
    width:300px;
    margin-left: 8rem;
}

.slick-prev
{
    left: -100px;
    opacity: 1;
}
.slick-next
{
    right: -60px;
    opacity: 1;
}
.slick-prev::before
{
    content: url('../../../images/left.png');
    opacity: 1;
}
.slick-next::before
{
    content: url('../../../images/right.png');
    opacity: 1;
}