.slick-slider {
    width:300px;
    margin-left: 8rem;
}

.slick-prev
{
    left: -100px;
    opacity: 1;
}
.slick-next
{
    right: -60px;
    opacity: 1;
}
.slick-prev::before
{
    content: url('../../../images/left.png');
    opacity: 1;
}
.slick-next::before
{
    content: url('../../../images/right.png');
    opacity: 1;
}

@media (max-width:1199px)
{
    .slick-slider{
        margin-left: 0;
        margin-bottom: 5rem;
        width: 15rem;
    }
}

@media (max-width:767px)
{
    .slick-slider{
        width: 13rem;
    }

    .slick-prev::before
    {
        content: url('../../../images/leftSmall.png');
    }
    .slick-next::before
    {
        content: url('../../../images/rightSmall.png');
    }
    .slick-prev
    {
        left: -65px;
    }
    .slick-next
    {
        right: -50px;
    }
}

@media (max-width:480px)
{
    .slick-slider {
        width: 10rem;
    }
    .slick-prev
    {
        left: -50px;
    }
    .slick-next
    {
        right: -30px;
    }
}