.developmentSection
{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin: 0rem 9rem;
}

.content
{
    display:flex;
    margin: 15rem 0;
}

.marginTop8
{
    margin-top: 8rem;
}

.leftImage, .rightImage
{
    width: 120%;
}

.rightImage
{
    text-align: center;
}

