.header
{
    font-family: 'Montserrat', sans-serif;
    background-color: #b83344;
    padding: 0rem 9rem;
    color: white;
}

.navItem {
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.brandName{
    font-size: 1.5rem;
    margin-left: 5px;
}

@media (max-width:575px)
{
    .header {
        padding: 0 4rem;
    }
}

@media (max-width:480px)
{
    .header {
        padding: 0 1.5rem;
    }
}