.header
{
    font-family: 'Montserrat', sans-serif;
    background-color: #b83344;
    padding: 0rem 9rem;
    color: white;
}

.navItem {
    margin: 0 1rem;
    cursor: pointer;
}

.brandName{
    // color: white;
    font-size: 1.5rem;
    margin-left: 5px;
}

